@page
@model Server.Pages.IndexModel
@{
	var title =
		Resources.PageTitles.Index;

	ViewData["Title"] = title;
}

<h3>
	@(title)
</h3>

<hr />

<ul dir="ltr">
	<li><a asp-page="Admin/Cultures01/Index">Admin/Cultures01/Index</a></li>
</ul>

<hr />

<div class="row">
	<div class="col">
		سورس‌کد این پروژه را می‌توانید از نشانی ذیل دانلود نمایید:

		<br />

		<div dir="ltr">
			<a href="https://github.com/Dariush-Tasdighi/ASP.NET-Core-Razor-Pages-Simple-Template" target="_blank">https://github.com/Dariush-Tasdighi/ASP.NET-Core-Razor-Pages-Simple-Template</a>
		</div>
	</div>
</div>

<hr />
