<footer class="footer border-top py-3 bg-light text-muted fixed-bottom" dir="ltr">
	<div class="container">
		<span class="text-muted text-light">
			&copy;2022 - Dariush Tasdighi
		</span>
	</div>
</footer>
